<div class="header" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
  <!-- Left Image -->
  <div fxFlex="40" fxFlex.lt-md="100" class="grid-item">
    <div class="imagePl">
      <img class='pic' src="assets/logo/PurpleWire logo.jpeg" alt="PurpleWire-logo" />
    </div>
  </div>
  
  <!-- Header Text -->
  <div fxFlex="60" fxFlex.lt-md="100" class="grid-item">
    <div class="header-text">Asset Tracking Platform</div>
  </div>

  <!-- Right Image -->
  <div fxFlex="40" fxFlex.lt-md="100" class="grid-item">
    <div class="imageProv">
      <img  class='pic2' src="assets/logo/Provincial Logo.png" alt="e-gov-logo" />
    </div>
  </div>
</div>