<div fxLayout="column" fxFill>
    <top-menu fxFlex="20" fxLayoutAlign="center center"></top-menu>
    <div class="black" fxFlex="80" fxLayoutAlign="center center">
      <div fxLayout="column" fxFill>
        <div fxLayout fxFlex>
          <app-admin-left-menu fxFlex="15" fxLayoutAlign="center center"></app-admin-left-menu>
          <div class="container" fxFlex="85">
            <ng-content fxFlex="85" fxLayoutAlign="center center"></ng-content>
          </div>
        </div>
      </div>
    </div>
  </div>
