.container1{
    position: relative;
    top: 10px;
    color: black;
    font-size: 30px;
}

// .container{
//     cursor: pointer;
//     /* width: fit-content; */
//     height: fit-content;
//     /* display: flex;
//     justify-content: center; */
//     position: absolute;
//     top: 17px;
//     left: 1px;
// }

// .placeholder{
// position: relative;
// left: 74px;
// top: 100px;
// }

.button{
    position:relative;
    width:150px;
    bottom: 15px;
}

