<app-admin-three-layer-layout>
  <h1 class="title">Excel Downloads</h1>
  <div class="row">
    <div class="col-3">
      <button mat-button (click)="onLaptop()">Download Laptop List</button>
    </div>
    <div class="col-3">
      <button mat-button (click)="onLaptopTags()">Download Laptop List with Tags</button>
    </div>
    <div class="col-3">
      <button mat-button (click)="onLaptopDevice()">Download Laptop List with Device Data</button>
    </div>
    <div class="col-3">
      <button mat-button (click)="onLaptopDeviceTags()">Download Laptop List with Device Data and Tags</button>
    </div>
  </div>
  

 
</app-admin-three-layer-layout>
