.page{
    position: relative;
      top: 16px;
  }
  .page-link{
    color: #000;
    background-color: transparent;
  }
  .small-card {
    width: 500px; 
    margin: 10px;
  }
  .text{
      color: #000;
  }
  .btn1{
    width: 100%;
  }
  .download-btn {
    margin-left: auto; 
  }
  .card-header {
    display: flex;
  }
  .small-card {
    width: 400px; 
    margin: 10px;
  }
  