<!-- <p-dialog 
    header="Access Control" 
    [modal]="true"
    [(visible)]="visible" 
    [position]="position" 
    [closable]="false"
    [style]="{ width: '25rem' }">
        <div class="flex align-items-center gap-3 mb-3">
            <label  class="font-semibold w-6rem">
                Please contact the System Administrator as you do not have access to this feature.
            </label>
            
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Close" severity="secondary" (click)="onCancel()" />
        </div>
</p-dialog> -->
