.heading{
    position: relative;
    top: 10px;
    color: black;
    font-size: 30px;
}
.card{
    position: relative;
    margin-top: 62px;
}
.page{
    position: relative;
      top: 26px;
  }
  .page-link{
    color: #000;
    background-color: transparent;
  }