button{

    grid-column: span 2;
    padding: 25px 40px;
    font-size: 15px;
    margin-top: 3.5em;
    margin-left: 3.5rem;
    align-items: center;
    border-radius: 45px;
    background-color:rgb(18, 6, 193);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

     &:active { 
      transform: scale(0.9);
    } 

    &:hover {
      background-color: blue;
    }
  }