.container1{
    position: relative;
    top: 10px;
    color: black;
    font-size: 30px;
}
.card2{
    width: 100%;
}

.card{
    position: relative;
    margin-top: 62px;
    left: 50px;
}
// #card {
//     position: absolute;
//     width: 520px;
//     display: flex;
//     justify-content: center;
//     right: 100px;
//     top: 112px;

//     // #h2 {
//     //     position: absolute;
//     //     left: 20%;
//     // }

//     // #p {
//     //     position: absolute;
//     //     left: 20%;
//     // }

//     // #container {
//     //     position: absolute;
//     //     padding-top: 150px;
//     //     width: 660px;
//     //     left: 0%;
//     //     top: 50%;

//     // }
// }
